@charset "utf-8";

#icon_menu, #icon_search, .responsive_item, #private_area, 
#toggle_itens_companies{
    display: none;
}

/* MAX-WIDTH : 990px  or Mobile*/
@media (max-width: 990px) {


    .list_tag,.content-aside_list_cat .nine .one:last-child{
        display: none;
    }

    body{
        font-size: 4rem !important;
    }

    .column, .columns {
        margin-left: 2%;
    }

    #mask_private_area {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        background-color: #000;
        width: 100vw;
        height: 100vh;
        display: none;
    }
    .responsive_item{
        display: block;
    }

    .section{
        /*margin: 0 !important;*/
        padding: 0 !important;
    }

    .fp-section.fp-table, .fp-slide.fp-table,.fp-tableCell {
        display: block;
        height: 100% !important;
    }

    h1,h2,h3{
        padding:0 !important;
        margin:0 !important;
    }

    #section0 #topo_page div .container{
        padding: 0 2% !important;
    }

    #section1 .container,.content-aside3{
        width: 100%;
        margin: 0;
        padding: 0 !important;
    }

    .container{
        min-width: 320px;
        width: 100%;
        max-width: 990px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 4% 2% !important;
    }

    #cartao .section:first-child,#service_area .content-aside_list_cat{
        padding: 4% 2% !important;
    }

    #service_area .content-aside_list_cat .three.columns {
        padding-top: 0 !important;
    }

    .content-aside_list_cat .nine .row_list{
        padding: 0 !important;
    }

    .filterselect .cs-select span {
        /* height: 38px; */
        padding: 10px 0 !important;
    }

    .content-aside_c3 {
        background: #6FB9B5 !important;
    }

    #section0,#topo_page{
        height: 40vh !important;
    }

    .fp-tableCell{
        display: block;

    }

    #description{
        bottom: 5px;
        left: 2% !important;
    }

    #description h2{
        margin-bottom: .6rem !important;
        padding: 0 8px !important;
    }

    #description h2,#description p span{
        font-size: 5.0rem;
    }

    #cartao p, 
    #cartao p span, 
    #contatos .one-half:first-child p,
    #contatos .one-half:first-child p span,
    .content-aside3 .container .two-thirds p,
    .content-aside3 .container .two-thirds p span,
    .content-aside_c2 .one-half:first-child h3,
    .content-aside_c3 .container .row .one-half:last-child h3{
        font-size: 6.0rem !important;
        text-align: left;
    }

    .content-aside_list_cat .nine .eight.columns h3,
    .content-aside_list_cat .nine .eight.columns p{
        font-size: 4.0rem !important;
    }


    .content-aside_list_cat .nine .eight.columns span,.content-aside_list_cat .nine .eight.columns span.glyph-icon:before{
        font-size: 3.0rem !important;
    }

    .content-aside_list_cat .nine .hiperlinks_list div span[class^="flaticon-"]:before, .content-aside_list_cat .nine .hiperlinks_list div span[class*=" flaticon-"]:before, .content-aside_list_cat .nine .hiperlinks_list div span[class^="flaticon-"]:after, .content-aside_list_cat .nine .hiperlinks_list div span[class*=" flaticon-"]:after{
        font-size: 4.0rem !important;
    }

    #contatos .container .one-half:last-child a{
        font-size: 4.0rem !important;
    }


    #section0 #topo_page div{
        background: transparent;
    }

    #section0 .header-custom{
        background-position: 0 0 !important;
    }

    #service_area .container .itens{
        display: block;
        float: left;
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        border-bottom: 1px solid #fff;
    }

    #service_area figure.foto-legenda img{
        display: none;
    }

    figure.foto-legenda figcaption,figure.foto-legenda{
        position: static;
    }

    figure.foto-legenda figcaption,.responsive_item{
        background: #6FB9B5 !important;
        color: #fff !important;
        /*opacity: 0.9;*/
        height: 100%;
    }

    .responsive_item a{ 
        text-transform: uppercase;
        height: 100%;
        float: left;
        width: 100%;
        border-bottom: 1px solid #fff;
    }

    figure.foto-legenda figcaption h3, figure.foto-legenda figcaption a,.responsive_item a{
        text-align: center;
        background: #ee2f55 !important;
        color: #fff !important;
        padding: 60px 0 !important;
        height: 100%;
        font-size: 4.0rem !important;
        font-weight:600  !important;

    }

    .responsive_item a{ 
        background: #6FB9B5 !important;
        text-transform: uppercase;
        border-bottom: 1px solid #fff;
    }

    .responsive_item a:hover{
        background: #589592 !important;
    }

    .responsive_item:last-child a{
        background: #fdc34b !important;
        border:none;
    }

    .responsive_item:last-child a:hover{
        background: #c4993b !important;
    }

    #service_area a:hover figure.foto-legenda figcaption h3{
        background: #bb2142 !important;
        opacity: 0.9;
    }

    #section0 .three.columns span:before,
    #contatos .container .one-half:last-child .glyph-icon:before{
        margin: 0 !important;
        font-size: 8.0rem;

    }

    #contatos .container .one-half:last-child ul {
        padding: 40px 0 !important;
    }

    #banner_area,.banner,#section0 #menu_bar, #search{
        display: none;
    }

    #topo_page .logo{
        display: block;
        width: 100%;
    }
    #icon_menu{
        float: left;
        display: block;
    }
    #icon_search{
        float:right;
        display: block;
        z-index: 999999;
        position: absolute;
        right: 2%;
    }

    #icon_logo{
        float: left;
        width: 80%;
    }

    img#icone{
        position: relative;
        left: 30%;
        width: 40%;
        margin: 0 auto;
        padding: 0 !important;
    }

    .header {
        /*padding-bottom: 12rem;*/
        text-align: left;
        height: 165px;
    }

    .header-heading {
        font-size: 2.4rem;
    }

    #searchForm .one-half, #contatos .one-half{
        width: 100% !important;
        margin-left: 0;
    }
    #cartao, #contatos, .content-aside3{
        font-size: 4.0rem !important;
        text-align: left;
    }

    #cartao .content-aside {
        background-position-y:80px;
        /*background-size: 50%;*/
    }

    #section3{
        background-image: none;
    }

    .content-aside3 .container .two-thirds.column {
        width: 85.3333333333% !important;
    }
    .content-aside3 .container .one-third.column {
        width: 10.6666666667% !important;
        padding-top: 10%;
    }

    #cartao .row:last-child .one-half.column:last-child /*, #contatos .one-half.column:last-child p*/{
        display: none;
    }

    #cartao .row:last-child  #searchForm .one-half.column:last-child,#cartao .content-aside_c3 .row:last-child .one-half.column:last-child {
        display: block;
        width: 100%;
        margin-left: 0;
        float: right;
    }

    .content-aside_c3 .row:last-child .row:nth-child(2) .one-half.column:last-child{
        width: 48% !important;
    }

    .content-aside_c3 .row:last-child .row:nth-child(2) .one-half.column{
        width: 48% !important;
    }

    #cartao .content-aside_c3 .row:last-child .row:nth-child(2) .one-half.column:nth-child(2) .one-half.column:nth-child(1),
    #cartao .content-aside_c2 #searchForm .row:nth-child(4) .one-half,
    #cartao .content-aside_c2 #searchForm .row:nth-child(5) .one-half,
    #cartao .content-aside #searchForm .one-half {
        padding: 0 !important;
    }

    #cartao .container:first-child .row .one-half:first-child, #contatos .one-half.column:last-child {
        width: 100%;
    }

    #cartao .container:first-child .row .one-half:first-child{
        padding-bottom: 20px !important;
    }

    input[type="email"], 
    input[type="number"], 
    input[type="search"], 
    input[type="text"],
    input[type="tel"], 
    input[type="url"], 
    input[type="password"],
    input[type="submit"], 
    input[type="reset"], 
    input[type="button"]
    .button, button, textarea, select{
        height: 100% ;
        padding: 25px 10px !important;
        font-size: 4.0rem !important; 
        color: #6FB9B5 !important
    }

    input[type="checkbox"], input[type="radio"] {
        display: inline;
        height: 30px;
        width: 30px;
    }

    .card_validation{
        font-size: 4.0rem !important;
        padding: 20px 0px;
    }

    .content-aside .container .right .costumize-button,
    .content-aside_c2 .container .right .costumize-button,
    .content-aside_c3 .container .right .costumize-button{
        font-size: 4.0rem !important;
        padding: 35px 10px !important;
        line-height: 1; 
    }

    /* Formatar menu responsive*/
    #private_area{
        position: fixed;
        top:0;
        left:0;
        width: 80vw;
        height: 100vh;
        background: #f00;
        z-index: 3;
    }

    .private_area{
        display: block;
    }

    nav.menu_private_area{
        font-size: 1.6rem;
        height: 100%;
        width: 100%;
        padding: 20px 2%;
    }

    nav.menu_private_area{
        font-size: 5.0rem;
    }

    nav.menu_private_area ul{
        display: inline-block;
        list-style:none;
        height:100%;
        width: 96%;
    }

    nav#menu_left li:first-child{
        border-left: 1px solid #fff;
    }

    nav.menu_private_area li:hover,nav.menu_private_area li a:hover{
        background-color: transparent !important;
        color:#ee2f55;
    }

    nav.menu_private_area li:last-child{
        position: absolute;
        bottom: 0;
        /*left:0;*/
    }

    nav.menu_private_area a{
        width: 100%;
        padding:11px 0;
        height: 100%;
        color: #ffffff;
        float: left;
        text-decoration: none;
        box-sizing: border-box;
    }

    nav.menu_private_area img{
        width: 200px;
        height: 200px;
        float: left;
        margin-left: 4%;
        margin-right: 15px;
    }

    nav.menu_private_area span.msg{
        float: left;
        padding-top: 60px;
    }

    nav.menu_private_area a span.glyph-icon{
        /* font-size: 1.3rem;
         vertical-align:middle;*/
        font-size: 6.0rem;
        margin-right:15px;
    }

    nav.menu_private_area a .glyph-icon:before{
        font-size: 6.0rem;
        /*margin-left: 0px;*/
    }

    nav.menu_private_area a:hover{
        text-decoration: none;
    }

    .content-aside_c2{
        background-position-y: 15% !important;
    }

    section#cartao .previous {
        position: absolute;
        left: 90%;
        top: 0%;
        text-align: center;
        z-index: 9999;
        cursor: pointer;
        /*bottom: 6% !important;*/
    }

    #search{
        /*display: block;*/
        width: 100%;
        background: #fdc34b !important;
        color: #6FB9B5 ! important;
        height: 40vh;
        position: absolute;
        top:0;
        left:0;
        border-bottom: 1px solid #fff;
        box-sizing: border-box;
    }

    #search .central{
        margin-top: 16%;
    }

    #search .six.columns{
        width: 100%;
    }

    #search .three.columns{
        margin-right: 1% !important;
        margin-left: 0 !important;
    }

    #search .form-padding {
        padding: 15px 0px 0px 0px;
        margin: 0;
        width: 43%;

    }

    #search .central .one.columns{
        width: 12%;
        margin: 0 !important;
    }

    #search form {
        color: #6FB9B5 ! important;
        font-style: italic;
    }

    #img_submit {
        background: #fff !important;
        color:#6FB9B5 !important;
        padding: 28px 35px 28px;
        height: 100%;
        width: 100%;
    }
    .form-padding .glyph-icon:before {
        font-size: 4.0rem;
    }

    div.cs-select{
        color:#6FB9B5 !important;
        height: 100%;
    }

    .cs-select span{
        padding: 25px 10px !important;
        font-size: 4.0rem !important;
    }

    .cs-skin-border.cs-active .cs-options {
        border: 1px solid #6FB9B5;
        color: #6FB9B5;
        margin-top:0px !important;
    }
    .cs-select ul li {
        border-bottom: 1px solid #6FB9B5;
    }

    #service_area .row.content-aside_list_cat .cs-select > span::after {
        /*top: 0%;*/
    }

    #service_area .row.content-aside_list_cat{
        min-height: 100% !important;
        position: relative;
    }

    #service_area .content-aside_list_cat .three.columns {
        height: 100% !important;
    }

    .itens_companies{
        position: absolute;
        left: -180px;
        /*background: #f00;*/
        height: 100%;
    }

    #toggle_itens_companies{
        position: absolute;
        top: 40%;
        left: 0px;
    }
    #toggle_itens_companies:before {
        font-size: 6.0rem;
    }

    .content-aside_list_cat .nine .one:last-child {
        float: right;
        margin-top: 55px;
    }

    .font_24,.content-aside_list_cat .three a span:last-child,.content-aside_list_cat .three a{
        font-size: 3.0rem !important;
    }
    .font_14 {
        font-size: 2.0rem !important;
    }

    .content-aside_list_cat .nine .hiperlinks_list div {
        margin-top: 40px !important;
    }

    .content-aside_list_cat nav li {
        /*height: 60px !important;*/
        padding: 2px 0 0 35px !important;
    }

    .content-aside_list_cat nav a{
        padding: 11px 0 !important;
    }

    .width_100{
        width: 100% !important;
        padding: 0 2% 0 !important;
    }

    .filterselect .cs-select span{
        font-size: 2.5rem !important;
    }

    #service_area .content-aside_list_cat .filterselect {
        width: 200px !important;
        padding: 0 !important;
        padding-bottom: 20px !important;
    }

    footer#rodape div#logo_footer {
        width: 100% !important;
        margin: 0 auto;
    }
}

    /* aplica somente a partir de 990px em landscape */
    @media (max-width: 990px) and (orientation: landscape) {
        #search .central{
            margin-top: 0 !important;
        }
        #search{
            height: 100%;
        }
    }



























    /* Bigger than 750 */
    /*@media (min-width: 750px) {
        .header {
            height: 190px;
        }
        .header-heading {
            font-size: 2.6rem;
        }
        .section {
            padding: 14rem 0 15rem;
        }
        .header {
            padding: 16rem 0 14rem;
        }
        .section-description {
            max-width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
    
        .categories {
            padding: 15rem 0 8rem;
        }
    }
    */
    /* Bigger than 1000 */
    /*@media (max-width: 960px) {
        .section {
            padding: 20rem 0 19rem;
        }
        .header {
            padding: 22rem 0;
            height: 600px;
        }
        .header-heading {
            font-size: 3.0rem;
        }
    
        #description{
            top: 120px;
            left: 0px;
            margin: 0px;
        }
    
    }
    */