@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,60);
@font-face{
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}

* { 
	margin:0;
	padding:0;
}

body{
	/*font-family: "Open Sans:400italic",Arial, sans-serif;*/
	background-color: #dddddd;
	/*color: rgba(255,255,255,1);*/
	color:#ffffff;
}

div#interface{
		width: 960px;
		background-color: #ffffff;
		/*margin: -20px auto 10px auto;*/
		margin:0 auto;
		
		/*box-shadow: 0px 0px 10px #000000;*/
		box-shadow: 0px 0px 10px rgba(0,0,0,.5);
		/*padding: 10px;*/
		padding:0px;
}

p{
	text-align: justify; 
	text-indent: 50px;
}

a{
	color: #606060;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

header#header #header-main{
	margin: 0px auto;
	width: 85%;
	/*margin: 0px 6%;*/
	background-color: #ffff00;
}

header#header img#icone{
	/*position:relative;
	top: 20px;
	left: 80px;*/
	float:left;
	width: 25%;
	padding: 5px;
	margin-right: 10px;
}

/* Style social area customize*/
header#header #socials{
	display: block;
	float:left;
	width: 180px;
	vertical-align:middle;
	margin: 0 auto;
	padding-top: 5px;
	padding-left: 15px;
}
header#header #socials ul{
	list-style:none;
	/*text-transform:uppercase;*/
	/*position: absolute;
	top:0px;
	left:500px;*/
}

header#header #socials li{
	display:inline-block;
	background-color: #617aa3;
	padding: 5px;
	width: 170px;
	vertical-align:middle;
	margin:auto;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	-ms-transition: background-color 1s;
	transition: background-color 1s;
}

header#header #socials li:nth-child(1){
	margin-bottom: 5px;
}

header#header #socials li:hover{
	background-color: #606060;
}

header#header #socials a{
	color: #ffffff;
	text-decoration: none;
	font-size: 10pt;
	padding-left: 2px;
}

header#header #socials a:hover{
	color: #ffffff;
	text-decoration: none;
}

header#header #socials .logo{
	width: 20px;
	height: 20px;
	margin:0px;
	padding-right:2px;
	border-right: 1px solid #ffffff;
	vertical-align:middle;
}

header#header #socials #logo-fb{
	background-color: #617aa3;
}
/* END Style social area customize*/

header#header{
	border-bottom: 1px #606060 solid;
	height: 350px;
	/*background: url(../_imagens/mulher_com_spotcard.jpg) no-repeat 0px 80px;*/
	background: url(../_imagens/mulher_com_spotcard.jpg) no-repeat 0px 0px;
	background-size:cover;
}

header#header h1{
	font-family: 'FonteLogo', Helvetica, sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 10px 0px 0px 0px;
	/*margin-top: 10px;*/
	margin-bottom: 0px;
}

header#header h2{
	font-family: 'Titillium Web', sans-serif;
	font-size: 15pt;
	color: #888888;
	padding: 0px;
	margin-top: 0px;
}



/* Formatar imagens com legendas*/

figure.foto-legenda{
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{
	width:100%;
	height:100%;
}

figure.foto-legenda figcaption{
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,0.4);
	color: white;
	width:100%;
	height:100%;
	padding: 10px;
	box-sizing:border-box;
	transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
	opacity: 1;
}


section#corpo{
	display: block;
	width: 500px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
}

article#noticia-principal h2{
	font-size: 13pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px;
}

header#header-article h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}

.right{
	text-align: right;
}

header#header-article h2{
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
	margin: 0px;
}

header#header-article h3{
	font-size: 12px;
	color: #606060;
}

table#tabelaspec{
	border: 1px solid #606060;
	border-spacing: 0px;
	margin: auto auto;
}

table#tabelaspec td{
	border: 1px solid #606060;
	padding: 10px;
	text-align: center;
	vertical-align: top;
}

table#tabelaspec td.ce{
	color: #ffffff;
	background-color: #606060;
	vertical-align: top;
	font-weight:bold;
}

table#tabelaspec td.cd{
	background-color: #cecece;
}

table#tabelaspec caption{
	color: #888888;
	font-size:13pt;
	font-weight:bold;
}

table#tabelaspec caption span{
	display:block;
	float: right;
	color: #000000;
	font-size:8pt;
	margin-top: 10px;
}

aside#lateral{
	display: block;
	width: 350px;
	float: right;
	background-color: #dddddd;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

aside#lateral h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}

aside#lateral h2{
	background-color: #606060;
	font-size: 13pt;
	color: #ffffff;
	padding: 5px;
}


footer#rodape{
	clear:both;
	border-top: 1px solid #606060;
}

footer#rodape p{
	text-align: center;
}