@charset "utf-8";

#footer_bottom_position{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    clear:both;
}

footer#rodape{
    clear:both;
    /*height:66px;*/
    /* float: left;*/
    //position: absolute;
    background-color:#000;
    // bottom:0;
}

footer#rodape p{
    text-align: center;
}

footer#rodape div#logo_footer{
    text-align: center;
    display: block;
    float: left;
    padding-top: 10px;
    left: 0;
    width: 124px;
    height: 100%;
}

footer#rodape div#terms_footer{
    /* box-sizing: border-box; */
    text-align: center;
    margin-top: 14px;
    float: right;
    height: 100%;
}

footer#rodape div#terms_footer p{
    text-align:center;
    /*margin:0 !important;*/
}
