@charset "UTF-8";

.content-aside_c3{
	background:url(../../_imagens/bkg_cont3.png) no-repeat 100% 0% !important;
	background-size: 50%;
	text-align:left !important;
}

.content-aside_c3 input{
	color:#6FB9B5 !important;
}

.content-aside_c3 .container:first-child .row .one-half:first-child p{
	font-size: 3.0rem;
	display: inline-block;
	margin: 0;
	padding:0;
}

#content-aside_c3-position{
	/*position: absolute;
	top: 220px;
	left:0px;
	width: 100%;*/

}

.content-aside_c3 .container:first-child .row .one-half:first-child h3{
	font-size: 3.0rem !important;
    margin: 0 !important;
}

.content-aside_c3 .container:last-child .row .one-half:last-child h3{
	font-size: 3.0rem !important;
}

#payment_card{

}

.card_validation{
	font-size: 1.3rem !important;
    height: 38px;
    padding: 10px 0px;
    box-sizing: border-box;
}

.content-aside_c3 .container:last-child .right .costumize-button{
	background:#ed2c55 ;
	color:#6fb9b5;
	text-transform: capitalize;
	border-radius: 0px !important; 
}

#content-aside_c3-position .container:last-child .row .one-half:last-child p:last-child{
	margin-bottom: 0 ! important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:#6fb9b5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#6fb9b5;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#6fb9b5;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:#6fb9b5;
}
