@charset "UTF-8";

#service_area .content-aside_list_cat{
	background: #fff !important;
	/*background-size: contain;*/
	/*text-align:justify !important;*/
	color: #000;
}

#service_area .content-aside_list_cat .three.columns{
width: 22% !important;
margin-left: 0px !important;
background: #FAF9F8 none repeat scroll 0% 0%;
height: 100vh;
padding-top: 20px;
}

#service_area .content-aside_list_cat .filterselect{
width: 20% !important;
margin-left: 0px !important;
/*padding-top: 20px;*/
float:right;
padding-top: 10px;
}

#service_area .content-aside_list_cat .filterselect .styled-select {
  height: 38px;
  background: url(../../_imagens/icon.png) no-repeat 100% 50% #fff;
}

#service_area .content-aside_list_cat .filterselect .styled-select select {
    background: transparent none repeat scroll 0% 0%;
    font-size: 1.4rem;
    line-height: 1;
    border: 0px none;
    border-radius: 0px;
    text-transform: none;
	width: 100%;
}


.content-aside_list_cat .three p{
	font-size: 2.6rem;
	display: inline-block;
	text-align:justify;
	margin: 0;
	padding:0;
	margin-bottom: 20px;
	width: 100%;
}


/* Formatar menu*/
.content-aside_list_cat nav{
	float: left;
	font-weight: 300 !important;
	font-size: 1.6rem;
	width: 100%;
}



.content-aside_list_cat nav ul{
	display: inline-block;
	list-style:none;
	height:100%;
	width: 100%;
	/*text-transform:uppercase;*/
}


.content-aside_list_cat nav li{
	display: block;
	height: 40px;
	padding: 2px 0 0 35px;
  border-bottom: 1px solid #b1b3b5;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
  box-sizing: border-box;
}


.content-aside_list_cat nav li:last-child{
	/*margin:0;*/
}

.content-aside_list_cat nav li:hover{
	background-color: #000;
}

.content-aside_list_cat nav h1{
	display: none;
}

.content-aside_list_cat nav a{
	width: 100%;
	padding:11px 0;
	height: 100%;
	color: #000;
	float: left;
	text-decoration: none;
	box-sizing: border-box;
}

.content-aside_list_cat nav a:hover,.content-aside_list_cat nav ul li{
	background: transparent !important;
	color: #ee2f55 !important;
}

.content-aside_list_cat nav a span.glyph-icon,div.hiperlinks span.glyph-icon{
	/*font-size: 1.3rem;*/
	vertical-align:middle;
	margin-right:5px;
}

.content-aside_list_cat .three a{
color:#000;
}

.content-aside_list_cat .three .glyph-icon:before{
	font-size: 2.9rem;
	  margin-left: 5px;
}

.content-aside_list_cat[class^="flaticon-"]:before, 
.content-aside_list_cat[class*=" flaticon-"]:before, 
.content-aside_list_cat[class^="flaticon-"]:after, 
.content-aside_list_cat[class*=" flaticon-"]:after,
.content-aside_list_cat .nine .eight.columns span[class^="flaticon-"]:before,
.content-aside_list_cat .nine .eight.columns span[class*=" flaticon-"]:before,
.content-aside_list_cat .nine .eight.columns span[class^="flaticon-"]:after,
.content-aside_list_cat .nine .eight.columns span[class*=" flaticon-"]:after
 {
  margin: 5px 5px 0 0 !important;
  font-size: 1.4rem;
  }
  
 .content-aside_list_cat .nine .row_list{
	padding:20px 0;
	border-bottom:1px solid #B1B3B5;
	clear: both;
 }
 
  .content-aside_list_cat .nine .row_list:last-child{
	padding: 20px 0 0 0;
	border-bottom:0px;
 }

  .content-aside_list_cat .nine .one:last-child{
  background: url(../../_imagens/desconto.png) no-repeat 0px 20px;
	background-size: contain;
	height: 100px;
  }
 
 .content-aside_list_cat .nine .row_list .two{
	margin-left: 0% !important;
 }
 
 .content-aside_list_cat .nine .two, .content-aside_list_cat .nine .two img{
 width:140px;
 height: 140px;
 }
  
.content-aside_list_cat .nine .column, .content-aside_list_cat .nine .columns {
	margin-left: 2% !important;
}
	
.content-aside_list_cat .column:first-child, .content-aside_list_cat.columns:first-child {
	margin-left: 0%;
}

.content-aside_list_cat .nine .one.column, .content-aside_list_cat .nine .one.columns{
	  width: 6.66666666667%;
	  height: 100px;
}

.content-aside_list_cat .nine .eight.columns{
	width: 60.9%;
}
  
  .content-aside_list_cat .nine .eight.columns h3{
	text-transform: uppercase;
	line-height: 1; 
}

.content-aside_list_cat .nine .eight.columns p,.content-aside_list_cat .nine .eight.columns span{
	margin:5px 0;
	padding:0;
	font-size: 1.4rem;
}
.content-aside_list_cat .nine .eight.columns span.padding_cpostal{
	padding-left:25px;
}

.content-aside_list_cat .nine .hiperlinks_list{
	height: 100px;
}
.content-aside_list_cat .nine .hiperlinks_list div{
	height: 100%;
	margin-top: 10px;
}

.content-aside_list_cat .nine .hiperlinks_list div span[class^="flaticon-"]:before, 
.content-aside_list_cat .nine .hiperlinks_list div span[class*=" flaticon-"]:before, 
.content-aside_list_cat .nine .hiperlinks_list div span[class^="flaticon-"]:after, 
.content-aside_list_cat .nine .hiperlinks_list div span[class*=" flaticon-"]:after
 {
	font-size: 1.4rem !important;
	margin: 5px 5px 0 0 !important;
  }
  
.content-aside_list_cat .nine .hiperlinks_list div a{
  float: left;
  padding: 5px 0;
}

.content-aside_list_cat .nine .one:last-child .discont{
	padding-top:35px;
	/*padding-left:3px;*/
	color:#fff;
	text-align: center;
}

.content-aside_list_cat .list_tag{
	float: right;
  margin-top: -40px;
  margin-left: 135px;
}

.content-aside_list_cat .list_tag .tag{
	margin-left:20px;
}

.content-aside_list_cat .list_tag span{
	font-size: 1.0rem;
  background: #b1b3b5 !important;
  color: #fff;
  padding: 3px;
  margin: 2px;
  float: left;
}