@font-face {
	font-family: "Flaticon1";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon1-"]:before, [class*=" flaticon1-"]:before,
[class^="flaticon1-"]:after, [class*=" flaticon1-"]:after {   
	font-family: Flaticon1;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon1-keyboard53:before {
	content: "\e000";
}
